<app-navbar></app-navbar>
<div class="row">
  <div class=container>
      <img id="i" src="{{'data:image/jpeg;base64,' + image.Data}}" alt="Sample photo" class="img-container paper">
      <!-- <div class="text-block"> 
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium est delenivero.
            </p>
        </div> -->

        <h3>Description: {{image.Description}} </h3>
        <h3>Uploaded Date : {{image.UploadedDate}}</h3>
        <button (click)="this.removePhoto(image.Id)"  class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Delete photo</button>
      </div>
</div>
