.bg-blue{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: rgb(252, 252, 252);
    transition: 0.35s;
}

.modal{
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    background-color: #fafafa;
    padding: 0px;
    max-width: 71%;
    max-height: 31%;
    width: 62%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.modal-sign-up
{
    max-height: 50%;
}