<!-- <nav class="navbar navbar-expand-sm bg-blue navbar-dark">
  <a class="brand-logo center">
      <i class="material-icons">photo_camera</i> <b>Photo gallery</b>
    </a>
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/gallery/{{userName}}">Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/adminPanel">Admin panel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="this.userService.Logout()">Logout</a>
    </li>
  </ul>
</nav> -->

<app-navbar></app-navbar>

<p *ngIf="isPhotoRemovedRecently">
  <ngb-alert [dismissible]="false" type="success">
    <h4>Your image was removed successfully!</h4> 
  </ngb-alert>
</p>

<div class="container">
    <div class="row">
      <div class="card" style="width:350px;height: 650;">
        <div class="container">
          <img *ngIf="noavatar" class="circle responsive-img center" src="assets/img/noavatar.png" alt="Card image" height="250" width="250">
          <img *ngIf="!noavatar" class="circle responsive-img center" src="{{'data:image/jpeg;base64,' + avatar}}" alt="Card image" height="250" width="250">
        </div>
        <div class="card-body">
          <form #imageForm=ngForm (ngSubmit)="SetAvatar(Image)">
              <label for="file-upload" class="custom-file-upload card-center">
                  <i class="material-icons left">add_circle</i> <h5>Change avatar</h5> 
              </label>
              <!-- <input id="file-upload" type="file"/> -->
            <input type="file" id="file-upload" class="inputfile" #Avatar accept="image/*" data-toggle="modal" data-target="#myModal" (change)="fileChangeEvent($event)">




            <!-- <input type="file" class="inputfile" #Avatar accept="image/*" data-toggle="modal" data-target="#myModal" (change)="fileChangeEvent($event)"> -->
            <div [hidden]="Avatar.value==''" id="myModal" class="modal fade" role="dialog">
              <div  class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                  </div>
                  <div class="modal-body">
                      <image-cropper
                      [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true"
                      [aspectRatio]="1 / 1"
                      format="png"
                      (imageCropped)="imageCropped($event)"
                      (imageLoaded)="imageLoaded()"
                      (loadImageFailed)="loadImageFailed()"
                  ></image-cropper>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="SetAvatar(Avatar)" data-dismiss="modal">Ok</button>
                  </div>
                </div>
              </div>
            </div>
           
            
          </form>
          <!-- <div class="row"> -->
            <!-- <a class="btn success" data-toggle="modal" data-target="#exampleModal"><i class="large material-icons left">add_a_photo</i>Add photo</a> -->
          <!-- </div> -->

          <div class="card-title"><b>Login:</b> {{this.userFromRoute}}</div>
          <p class="card-title"><b>Description:</b> {{this.description}} <i data-toggle="modal" data-target="#descriptionModal" class="material-icons pointer">edit</i></p>
          <div id="descriptionModal" class="modal modal-dialog" role="dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Change description</h4>
                        </div>
                        <div class="modal-body">
                          <textarea name="Text1" id="descriptionInput" cols="40" rows="5" value="{{this.description}}"></textarea>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" (click)="changeDescription()" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                      </div>
                    </div>
              
        </div>
      </div>
      
      <div class="container">

        <a class="btn success btn-center-grid" data-toggle="modal" data-target="#exampleModal"><i class="large material-icons left">add_a_photo</i>Add photo</a>
        
        <main class="grid">
          <div *ngFor="let image of imageEntities; let i = index" >
            
            <a [routerLink] ="['/gallery/image', image.Id]">
              <img id="i" src="{{'data:image/jpeg;base64,' + image.Data}}" alt="Sample photo">
            </a>
          </div>
          
        </main> 
      </div>
    
    
  </div>
 <!-- START -->
 <div class="modal modal-dialog" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">Please, enter description to your photo</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                  <!-- <div class="col s8 offset-2"> -->
                      <form #imageForm=ngForm (ngSubmit)="OnSubmit(Caption,Image)">
                        <div class="row">
                          <!-- <div class="input-field col s12"> -->
                            <input type="text" #Caption ngModel name="Caption" id="Caption" required>
                            <label for="Caption">Caption</label>
                         <!-- </div> -->
                      </div>
                      <label for="photo-upload" class="custom-file-upload">
                          <i class="fa fa-cloud-upload"></i> Custom Upload
                      </label>
                      <input id="photo-upload" type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
                  <button type="submit" class="btn success btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button>
                </form>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="submit" class="btn success btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Ok</button> -->
        </div>
      </div>
  </div>
     <!-- END -->

      <!-- <div class="row"> 
        <div *ngFor="let image of imageEntities"  class="row">
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Image 1" href=""><img class="thumbnail img-responsive" src="{{'data:image/jpeg;base64,' + image.Data}}"></a></div>
        </div>
      </div>
      <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal">×</button>
              <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
              <div id="modalCarousel" class="carousel">
                
                <div class="carousel-inner">
                  
                </div>
                
                <a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      </div> -->
      
      
      <div class="container">
        <div class="row">
          <div class="col s8 offset-2">
            <!-- <form #imageForm=ngForm (ngSubmit)="SetAvatar(Image)"> -->
              
      </div>
    </div>
  </div>


