<div class="header">
  <h1>Photo gallery</h1>
  <p><b>Welcome, please share photos with firends and enjoy :) </b></p>
</div>

<app-navbar></app-navbar>


  <section class="py-5">
    <div class="container">
      <h1>To watch photos </h1>
      <h3>On our site you can see a lot of photos on completely different topics, evaluate if you like them.</h3>
    </div>
  </section>
  
  <section class="py-5 bg-image-full" style="background-image: url('/assets/img/nature_1.jpg');">
    <div style="height: 200px;"></div>
  </section>
  
  <section class="py-5">
    <div class="container">
      <h1>Share with friends</h1>
      <h3>Upload your photos, share with friends, discuss each other's photos and be happy :)</h3>
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('/assets/img/nature_2.jpg');">
  <div style="height: 200px;"></div>
</section>

<section class="py-5">
  <div class="container">
    <h1>Section Heading</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
  </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('/assets/img/nature_3.jpg');">
  <div style="height: 200px;"></div>
</section>
<footer class="py-5 bg-dark">
  <div class="container" style="padding:15px">
    <h5><p class="m-0 text-center text-white">&copy; 2019 - Photo gallery</p></h5>
  </div>
</footer>