<app-navbar></app-navbar>

<table class="table table-hover">
    <tr>
        <th><h3><b>Login</b></h3></th>
        <th><h3><b>Email</b></h3></th>
        <th><h3><b>Roles</b></h3></th>
        <th><h3><b>Add/Remove role</b></h3></th>
        <th><h3><b>Remove user</b></h3></th>
      </tr>
    <tr *ngFor="let user of users">
    <td>
        <h3>{{user.UserName}}</h3>
    </td>
    <td>
        <h3>{{user.Email}}</h3>
    </td>
    <td >
        <h3 *ngFor="let role of user.Roles">{{role.Name}}
        </h3>
    </td>

    <td>
        <button *ngIf="user.UserName!=userName" (click)="manageRoles(user.UserName)" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-outline-info"><h2>+</h2></button>
    </td>

    <td><button *ngIf="user.UserName!=userName" (click)="removeUser(user.UserName)"  class="btn btn-sm btn-outline-danger"><h3>x</h3></button></td>
    </tr>
</table>

<div class="modal modal-dialog" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <!-- <div class="modal-dialog" role="document"> -->
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLabel">{{currentUser}}</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <ul>
                    <h3>Remove role:</h3>
                    <li *ngFor="let userRole of userRoles">
                      <!-- Active role = {{userRole.Name}} -->
                      <button (click)="removeFromRole(currentUser, userRole.Name)" class="btn btn-sm btn-outline-danger"><h4>{{userRole.Name}}</h4></button>
                    </li>
                    <h3>Add role:</h3>
                    <li *ngFor="let posRole of possibleRoles">
                      <!-- Possible role = {{posRole.Name}} -->
                      <button (click)="addToRole(currentUser, posRole.Name)" class="btn btn-sm btn-outline-success"><h4>{{posRole.Name}}</h4></button>
                    </li>

                  </ul>
                  <!-- <label for="user-name" class="col-form-label">User name:</label>
                  <input type="text" class="form-control" id="user-name"> -->
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        <!-- </div> -->
      </div>


<!-- <div id="myModal" class="modal fade modal-lg" role="dialog">
<div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add to role</h4>
          </div>
          <div class="modal-body">

            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
      </div> -->
