.container {
    width: 900px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

.btn-bluee{
    background-color: #97e2fd!important;
}